[submodule "themes/soho"]
	path = themes/soho
	url = https://github.com/alexandrevicenzi/soho.git
[submodule "GrigoriuAndreea.github.io"]
	path = GrigoriuAndreea.github.io
	url = https://github.com/GrigoriuAndreea/GrigoriuAndreea.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/GrigoriuAndreea/GrigoriuAndreea.github.io.git
	branch = master
